###############################################################################
# Don't mess with my line endings.
###############################################################################
* -text