<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- TODO: Need to revisit these entitlements, depending on what app actually needs -->
    <!-- But we are not going to run in sandbox anytime soon anyway. -->
    <key>com.apple.security.cs.allow-jit</key>
    <true/>
    <key>com.apple.security.automation.apple-events</key>
    <true/>
    <key>com.apple.security.network.client</key>
    <true/>
    <!-- <key>com.apple.security.files.user-selected.read-write</key>
    <true/>
    <key>com.apple.security.files.bookmarks.app-scope</key>
    <true/>
    <key>com.apple.security.files.documents</key>
    <true/>
    <key>com.apple.security.files.downloads</key>
    <true/>
    <key>com.apple.security.files.desktop</key>
    <true/>
    <key>com.apple.security.files.app-scope</key>
    <true/> -->
</dict>
</plist>
