@*Displays instructions on how to use the app*@
    <div style="text-align:center; width:816px">
        <div style="display: inline-block; text-align:left">
            Choose a .binlog to read. <br />
            Don't have a .binlog file? Build your project with the -bl tag to create one. <br />
            How can this viewer help debug? You can drill down to see what file is causing your build error!
        </div>
    </div>