@inherits LayoutComponentBase
<CascadingValue Value=this>
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">

            <div class="content px-4">
                @Body
            </div>
        </div>
></CascadingValue>

@code {
    public StructuredLogViewerWASM.Pages.SplitPane containerSplit;

    public void Render()
    {
        this.StateHasChanged();
    }
}