@inherits LayoutComponentBase

<CascadingValue Value=@this IsFixed="true">
<CascadingValue Value=@theme>
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main @theme.CssClass">

        <div class="content px-4">
            @Body
        </div>
    </div>
</CascadingValue>
</CascadingValue>

@code {
    public StructuredLogViewerWASM.Pages.SplitPane containerSplit;

    private Theme theme = new Theme();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        theme.Changed += StateHasChanged;
    }

    public void Dispose() => theme.Changed -= StateHasChanged;
}