@page "/test"
@inject IJSRuntime JSRuntime 

    <button @onclick=Split >Button</button>
    <div>
        <div @ref="one" class="split" id="one"> Does it work</div>
        <div @ref="two"class="split" id="two"> Does it work</div>
    </div>
@text
    @*@(JSRuntime.InvokeVoidAsync("interop.SplitView", new {document.getElementById('one'), 'two'}))*@

@code {
            String text;
            ElementReference one;
            ElementReference two;


    @*protected override async Task OnInitializedAsync()
    {
        await Split();
    }*@

async System.Threading.Tasks.Task Split()
{
    String[] array = new string[2];
    array[0] = one.Id;
    array[1] = two.Id;
    ElementReference[] arr = new ElementReference[2];
    arr[0] = one;
    arr[1] = two;

    await JSRuntime.InvokeVoidAsync(identifier: "Split", arr);
    text = "changed";
    this.StateHasChanged();
}
}