@page "/counter"
@using Radzen
<div class=row>
    <div class="col-md-6">
        <Radzen.Blazor.RadzenButton>Hello</Radzen.Blazor.RadzenButton>
        <RadzenTree Style="width:100%">
            <RadzenTreeItem Text="Product-1">
                <RadzenTreeItem Text="Item-1" />
                <RadzenTreeItem Text="Item-2" />
            </RadzenTreeItem>
            <RadzenTreeItem Text="Product-2">
                <RadzenTreeItem Text="Item-1" />
                <RadzenTreeItem Text="Item-2" />
            </RadzenTreeItem>
            <RadzenTreeItem Text="Product-3">
                <RadzenTreeItem Text="Item-1" />
                <RadzenTreeItem Text="Item-2" />
            </RadzenTreeItem>
            <RadzenTreeItem Text="Product-4">
                <RadzenTreeItem Text="Item-1" />
                <RadzenTreeItem Text="Item-2" />
            </RadzenTreeItem>
        </RadzenTree>
    </div>
</div>