@*Displays instructions on how to use the app*@

@page "/"
<center><h1>Welcome to the Structured Log Viewer!</h1></center>
<br />
<center><h2>Instructions:</h2></center>
<center><p>Click the "Read Bin Log" tab to analyze your build.</p></center>
<center><p>Don't have a .binlog file? Build your project with the -bl tag to create one.</p></center>
<center><p>How can this viewer help debug? You can can drill down to see what file is causing your build error!</p></center>