@page "/home"

<div class="row">
    <div class="col-md-5">
        <StructuredLogViewerWASM.Pages.SearchViewer />
    </div>
    <div class="col-md-6 col-md-offset-1">
        <StructuredLogViewerWASM.Pages.FileTree />
    </div>
</div>

@code {
    
}
