@page "/home"
@inject IJSRuntime JSRuntime

<body style="height:100%">
    <div>
        <div @ref="one" class="split" id="one"> 
        <SearchViewer />
        </div>
        <div style="overflow-y:scroll" @ref="two" class="split" id="two"> <FileTree /></div>
    </div>
</body>

@code {
    static ElementReference one;
    static ElementReference two;
    public static bool change;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender || change)
        {
            ElementReference[] arr = new ElementReference[2];
            arr[0] = one;
            arr[1] = two;
            await JSRuntime.InvokeVoidAsync(identifier: "Split", arr) ;
            this.StateHasChanged();
        }
        change = false;
    }
}